<header class="header" {%- if include.background -%} style="background: {{ include.background }};" {%- endif -%}>
	<div class="main">
		<nav class="navigation">
			<ul>
			{%- for _item in site.data.navigation.header -%}

			{%- if _item.brand -%}
				<div class="header__title">
					<div class="header__brand">
					{%- assign _paths_root = site.paths.root | default: site.data.variables.default.paths.root -%}
					{%- include snippets/get-nav-url.html path=_paths_root -%}
					{%- if site.title -%}
						<a title="{{ site.description }}" href="{{ __return }}">
							<span class="glitch-effect-slight" data-text="Slug">Slug</span>
							<br>
							<span class="glitch-effect-slight" data-text="Security">Security</span>
						</a>
					{%- endif -%}
					</div>
				</div>
			{%- else -%}
				{%- include snippets/get-nav-url.html path=_item.url -%}
				{%- assign _nav_url = __return -%}

				{%- include snippets/get-nav-url.html path=page.url -%}
				{%- assign _page_url = __return -%}

				{%- assign is_active = false -%}
				{%- if _nav_url == _page_url or page.nav_key and _item.key and page.nav_key == _item.key -%}
					{%- assign is_active = true -%}
				{%- endif -%}

				<li class="navigation__item {% if is_active %}navigation__item--active{% endif %} {% if _item.children %}navigation__item--has-children{% endif %} {% if _item.button %}navigation__item--button{% endif %}">
					<a class="{% if _item.button %}glitch-effect-hover--button{%- else -%}glitch-effect-hover{%- endif -%}" data-text="{{ _item.title }}" title="{{ _item.description }}" href="{{ _nav_url }}">{{ _item.title }}</a>

					{%- if _item.children -%}
						<ul class="navigation__dropdown">
							{%- for child in _item.children -%}
								{%- include snippets/get-nav-url.html path=child.url -%}
								{%- assign _nav_url = __return -%}

								<li>
									<a class="glitch-effect-hover--child" data-text="{{ child.title }}" title="{{ child.description }}" href="{{ _nav_url }}">{{ child.title }}</a>
								</li>
							{%- endfor -%}
						</ul>
					{%- endif -%}
				</li>
			{%- endif -%}
			{%- endfor -%}
			</ul>
		</nav>
	</div>
</header>
