.envrc
.direnv/
flake.lock

# astro
.astro/
dist/
.output/

# node
node_modules/
*.log
.DS_Store

# python
__pycache__/
*.pyc
.venv/

# env
.env
.env.local
.env.*.local

# generated
src/data/events.json
