{%- assign _author = include.author -%}

<div class="author-links">
	<ul class="menu menu--nowrap menu--inline">

		{%- if _author.url -%}
			<link itemprop="url" rel="noopener noreferrer" href="{{ _author.url }}">
		{%- endif -%}

		{%- if _author.type == 'organization' -%}
			{%- include snippets/get-locale-string.html key='EMAIL_US' -%}
			{%- assign _locale_string_email = __return -%}
			{%- include snippets/get-locale-string.html key='FOLLOW_US' -%}
			{%- assign _locale_string_follow = __return -%}
		{%- else -%}
			{%- include snippets/get-locale-string.html key='EMAIL_ME' -%}
			{%- assign _locale_string_email = __return -%}
			{%- include snippets/get-locale-string.html key='FOLLOW_ME' -%}
			{%- assign _locale_string_follow = __return -%}
		{%- endif -%}

	{%- if _author.discord -%}
	<li title="Join our Discord.">
		<a href="https://discord.gg/{{ _author.discord }}" class="icon discord-button" itemprop="sameAs" rel="noopener noreferrer" target="_blank">
		<i class="fa-brands fa-discord"></i>
		</a>
	</li>
	{%- endif -%}
	
	{%- include snippets/get-locale-string.html key='EMAIL_ME' -%}
	{%- if _author.email -%}
	<li title="{{ _locale_string_email }}">
		<a href="mailto:{{ _author.email }}" class="icon mail-button" itemprop="email" rel="noopener noreferrer" target="_blank">
		<i class="fa-solid fa-envelope"></i>
		</a>
	</li>
	{%- endif -%}
	
	{%- if _author.facebook -%}
	<li title="{{ _locale_string_follow | replace: '[NAME]', 'Facebook' }}">
		<a href="https://www.facebook.com/{{ _author.facebook }}" class="icon facebook-button" itemprop="sameAs" rel="noopener noreferrer" target="_blank">
		<i class="fa-brands fa-facebook-f"></i>
		</a>
	</li>
	{%- endif -%}
	
	{%- if _author.twitter -%}
	<li title="{{ _locale_string_follow | replace: '[NAME]', 'Twitter' }}">
		<a href="https://twitter.com/{{ _author.twitter }}" class="icon twitter-button" itemprop="sameAs" rel="noopener noreferrer" target="_blank">
		<i class="fa-brands fa-twitter"></i>
		</a>
	</li>
	{%- endif -%}
	
	{%- if _author.instagram -%}
	<li title="{{ _locale_string_follow | replace: '[NAME]', 'Instagram' }}">
		<a href="https://www.instagram.com/{{ _author.instagram }}" class="icon instagram-button" itemprop="sameAs" rel="me noopener noreferrer" target="_blank">
		<i class="fa-brands fa-instagram"></i>
		</a>
	</li>
	{%- endif -%}
	
	{%- if _author.medium -%}
	<li title="{{ _locale_string_follow | replace: '[NAME]', 'Medium' }}">
		<a href="https://medium.com/{{ _author.medium }}" class="icon medium-button" itemprop="sameAs" rel="noopener noreferrer" target="_blank">
		<i class="fa-brands fa-medium-m"></i>
		</a>
	</li>
	{%- endif -%}

		{%- if _author.linkedin -%}
		<li title="{{ _locale_string_follow | replace: '[NAME]', 'Linkedin' }}">
		<a href="https://www.linkedin.com/company/{{ _author.linkedin }}" class="icon linkedin-button" itemprop="sameAs" rel="noopener noreferrer" target="_blank">
			<i class="fa-brands fa-linkedin-in"></i>
		</a>
		</li>
	{%- endif -%}

	{%- if _author.github -%}
		<li title="{{ _locale_string_follow | replace: '[NAME]', 'Github' }}">
		<a href="https://github.com/{{ _author.github }}" class="icon github-button" itemprop="sameAs" rel="noopener noreferrer" target="_blank">
			<i class="fa-brands fa-github"></i>
		</a>
		</li>
	{%- endif -%}

	{%- if _author.mastodon -%}
		<li title="{{ _locale_string_follow | replace: '[NAME]', 'Mastodon' }}">
		<a href="https://{{ _author.mastodon }}" class="icon mastodon-button" itemprop="sameAs" rel="me noopener noreferrer" target="_blank">
			<i class="fa-brands fa-mastodon"></i>
		</a>
		</li>
	{%- endif -%}
	</ul>
</div>
