<div class="highlight-card">
	<div class="card-top">
		<div class="placement-icon">
			{% assign placement = include.data['Placement'] %}
			{% case placement %}
			{% when 1 %}
				<i class="fas fa-trophy first-place"></i>
			{% when 2 %}
				<i class="fas fa-trophy second-place"></i>
			{% when 3 %}
				<i class="fas fa-trophy third-place"></i>
			{% else %}
				<i class="fas fa-certificate other-place"></i>
			{% endcase %}
		</div>

		{% assign placement = include.data['Placement'] | plus: 0.0 %}
		{% assign participants = include.data['Participants'] | plus: 0.0 %}
		{% assign rank_percentage = placement | divided_by: participants %}
		{% assign top_percentage = 1 | minus: rank_percentage %}
		{% assign top_percentage = top_percentage | times: 100 | round: 0 %}
		{% assign top_percentage = 100 | minus: top_percentage %}

		<div class="highlight-info">
			<p class="highlight-type">{{ include.data['Type'] }}</p>
			<p class="highlight-name">{{ include.data['Name'] }}</p>
			<p class="highlight-date"><i class="fas fa-calendar-alt"></i> {{ include.data['Date'] | date: "%b %d, %Y" }}</p>
			<p class="highlight-location"><i class="fas fa-map-marker-alt"></i> {{ include.data['Location'] }}</p>
			<p class="highlight-ranking"><i class="fas fa-medal"></i> {{ include.data['Placement'] }} of {{ include.data['Participants'] }} (top {{ top_percentage }}%)</p>
		</div>
	</div>
	<div class="highlight-details">
		<a href="{{ include.data['Article'] | default: '#' }}" class="highlight-link{% unless include.data['Article'] %} no-link{% endunless %}">Article</a>
		&mdash;
		<a href="{{ include.data['Writeup'] | default: '#' }}" class="highlight-link{% unless include.data['Writeup'] %} no-link{% endunless %}">Writeup</a>
	</div>
</div>
