<div class="officer-card">
	<div class="card-top">
		<img src="{{ include['Image'] }}" alt="Profile Picture" class="officer-image">
		<div class="officer-content">
			<div class="officer-info">
				<p class="officer-title">{{ include['Title'] }}</p>
				<p class="officer-name">{{ include['Name'] }}</p>
				<p class="officer-handle">@{{ include['Handle'] }}</p>
			</div>

			<div class="social-links">
				<div class="social-links">
					{% if include['Website'] %}
						<a href="{{ include['Website'] }}" class="icon website-button" itemprop="sameAs" rel="noopener noreferrer" target="_blank">
							<i class="fa-solid fa-globe"></i>
						</a>
					{% endif %}
					{% if include['LinkedIn'] %}
						<a href="https://www.linkedin.com/in/{{ include['LinkedIn'] }}" class="icon linkedin-button" itemprop="sameAs" rel="noopener noreferrer" target="_blank">
							<i class="fa-brands fa-linkedin-in"></i>
						</a>
					{% endif %}
					{% if include['GitHub'] %}
						<a href="https://github.com/{{ include['GitHub'] }}" class="icon github-button" itemprop="sameAs" rel="noopener noreferrer" target="_blank">
							<i class="fa-brands fa-github"></i>
						</a>
					{% endif %}
					{% if include['Twitter'] %}
						<a href="https://twitter.com/{{ include['Twitter'] }}" class="icon twitter-button" itemprop="sameAs" rel="noopener noreferrer" target="_blank">
							<i class="fa-brands fa-twitter"></i>
						</a>
					{% endif %}
				</div>
				
			</div>
		</div>
	</div>

	<p class="officer-description">{{ include['Description'] }}</p>
</div>
