/* start custom scss snippet */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px
}

.alert h4 {
    margin-top: 0;
    color: inherit
}

.alert .alert-link {
    font-weight: 700
}

.alert>p,
.alert>ul {
    margin-bottom: 0
}

.alert>p+p {
    margin-top: 5px
}

.alert-dismissable,
.alert-dismissible {
    padding-right: 35px
}

.alert-dismissable .close,
.alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit
}

.alert-success {
    color: #ABEFAD;
    background-color: #374E22;
    border-color: #4E7230
}

.alert-success hr {
    border-top-color: #c9e2b3
}

.alert-success .alert-link {
    color: #2b542c
}

.alert-info {
    color: #91DAFD;
    background-color: #173F54;
    border-color: #217182
}

.alert-info hr {
    border-top-color: #a6e1ec
}

.alert-info .alert-link {
    color: #245269
}

.alert-warning {
    color: #F2D198;
    background-color: #3E360C;
    border-color: #876113
}

.alert-warning hr {
    border-top-color: #f7e1b5
}

.alert-warning .alert-link {
    color: #66512c
}

.alert-danger {
    color: #ED807D;
    background-color: #492121;
    border-color: #703039
}

.alert-danger hr {
    border-top-color: #e4b9c0
}

.alert-danger .alert-link {
    color: #843534
}

/* end custom scss snippet */

/* start sponsors scss snippet */

.sponsor-container {
	align-items: center;
	flex-wrap: wrap;
	display: flex;
	margin-left: -0.5rem;
	margin-right: -0.5rem;
	text-align: center;
}
.sponsor-item {
	width: 25%;
	padding: 0.5rem;
}
.sponsor-item img {
	max-width: 100%;
	max-height: 85px;
	border-style: none;
}

/* end sponsors scss snippet */

/* start highlights scss snippet */

.highlight-container {
	align-items: center;
	flex-wrap: wrap;
	display: flex;
	margin-left: -0.5rem;
	margin-right: -0.5rem;
}
.highlight-item {
	width: 25%;
	padding: 0.5rem;
}
.sponsor-item img {
	max-width: 100%;
	max-height: 85px;
	border-style: none;
}

/* end highlights scss snippet */


