{% macro render_content(nav_item, ref = nav_item) %}
  {% if nav_item == ref or "navigation.indexes" in features %}
    {% if nav_item.is_index and nav_item.meta.icon %}
      {% include ".icons/" ~ nav_item.meta.icon ~ ".svg" %}
    {% endif %}
  {% endif %}
  /{{ ref.title }}
  {% if nav_item.title == "Practice" %}
    <svg class="nav-icon" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M3 2h10v2h8v14H11v-2H5v6H3V2zm2 12h8v2h6V6h-8V4H5v10z" fill="currentColor"/></svg>
  {% elif nav_item.title == "Members" %}
    <svg class="nav-icon" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M15 2H9v2H7v6h2V4h6V2zm0 8H9v2h6v-2zm0-6h2v6h-2V4zM4 16h2v-2h12v2H6v4h12v-4h2v6H4v-6z" fill="currentColor"/></svg>
  {% endif %}
{% endmacro %}

{% macro render(nav_item, ref = nav_item) %}
  {% set class = "md-tabs__item" %}
  {% set link_class = "md-tabs__link" %}
  {% if ref.active %}
    {% set class = class ~ " md-tabs__item--active" %}
  {% endif %}

  {% if nav_item.title == "Home" %}
    {% set link_class = link_class ~ " md-tabs__link--banner" %}
  {% endif %}

  {% if nav_item.title == "Join" %}
    {% set link_class = link_class ~ " md-tabs__link--button" %}
  {% endif %}

  {% if nav_item.children %}
    {% set first = nav_item.children | first %}
    {% if first.children %}
      {{ render(first, ref) }}
    {% else %}
      <li class="{{ class }}">
        <a href="{{ first.url | url }}" class="{{ link_class }}">
          {% if first.title == "Home" %}
            Slug<br>Security
          {% else %}
            {{ render_content(first, ref) }}
          {% endif %}
        </a>
      </li>
    {% endif %}
  {% else %}
    <li class="{{ class }}">
      <a href="{{ nav_item.url | url }}" class="{{ link_class }}">
        {% if nav_item.title == "Home" %}
          Slug<br>Security
        {% else %}
          {{ render_content(nav_item) }}
        {% endif %}
      </a>
    </li>
  {% endif %}
{% endmacro %}
