.sponsor-container {
	align-items: center;
	flex-wrap: wrap;
	display: flex;
	margin-left: -0.5rem;
	margin-right: -0.5rem;
	text-align: center;
}

.sponsor-item {
	flex: 1 1 200px;
	padding: 0.5rem;
	min-width: 400px;
	max-width: 100%;
}

.sponsor-item img,
.sponsor-item svg {
	max-width: 100%;
	max-height: 85px;
	border-style: none;
}
