.center-table {
	text-align: center;
}

.md-typeset .center-table :is(td,th):not([align]) {
	text-align: initial;
}

[data-md-color-scheme="slate"] {
	--md-primary-fg-color: #1F1F1F;
	--md-footer-bg-color--dark: #1F1F1F;
	--md-default-bg-color: #121212;
}