.md-content img:not(.md-author img) {
	cursor: zoom-in;
	border-radius: 0.15rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.image-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 100;
	cursor: zoom-out;
}

.image-overlay img {
	max-height: 90%;
	max-width: 90%;
	transition: transform 0.3s ease;
	border-radius: 0.15rem;
}