.officer-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	margin-left: -0.5rem;
	margin-right: -0.5rem;
}

.officer-card {
	flex: 0 1 calc(50% - 1rem);
	display: flex;
	flex-direction: column;
	margin: 0.5rem;
	min-height: 100px;
	max-width: calc(50% - 1rem);

	background-color: lighten($background-color, 3%);
	border-radius: 15px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 10px;
	overflow: hidden;


	.card-top {
		display: flex;
		align-items: center;
		width: 100%;
		min-height: 100px;

		.officer-image {
			width: 80px;
			height: 80px;
			border-radius: 50%;
			margin-right: 20px;
		}

		.officer-info {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			line-height: 1.2;


			.officer-title,
			.officer-name,
			.officer-handle {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				margin: 0;
			}

			.officer-title {
				font-weight: bold;
				text-transform: uppercase;
				color: $main-color-1;
				font-size: small;
			}
			
			.officer-name {
				font-size: x-large;
			}

			.officer-handle {
				color: $text-color-l;
				text-transform: lowercase;
			}
		}

		.social-links {
			display: flex;

			a {
				margin-right: 10px;
				color: $main-color-1;

				&:hover {
					color: darken($main-color-1, 10%);
				}
			}
		}
	}

	.officer-description {
		margin-top: 10px;
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		margin-bottom: 0;
		font-size: small;
	}
}

@media (max-width: 650px) {
	.officer-card {
		flex: 1 1 calc(100% - 1rem);
		max-width: calc(100% - 1rem);
	}
}