---
import BaseHead from '@/components/BaseHead.astro'
import Nav from '@/components/Nav.astro'
import Footer from '@/components/Footer.astro'
import ShaderBg from '@/components/ShaderBg'

interface Props {
	title?: string
	description?: string
	image?: string
	noindex?: boolean
}

const props = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead {...props} />
	</head>
	<body class="text-(--color-fg)">
		<ShaderBg client:load />
		<Nav />
		<main>
			<slot />
		</main>
		<Footer />
		<script>
			import '@/scripts/enhance-links'
		</script>
	</body>
</html>
